@model Disqueria.ViewModel.DiscoEdicion
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Disco</h4>
<hr />
<div class="container" asp-validation-summary="All">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Edicion.Titulo">Título</label>
                <input type="text" class="form-control" asp-for="Edicion.Titulo" required />
            </div>
            <div class="form-group">
                <label asp-for="Edicion.Genero">Género</label><br />
                @* Cuando viene a buscar el Model, éste es NULL *@
                @Html.DropDownListFor(x => x.Edicion.GeneroID, Model.Generos, "Seleccione un género", htmlAttributes: new { @id = "GeneroId", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Edicion.GeneroID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Edicion.Artista">Artista</label><br />
                @Html.DropDownListFor(x => x.Edicion.ArtistaID, Model.Artistas, "Seleccione un artista", htmlAttributes: new { @id = "ArtistaId", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Edicion.ArtistaID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Edicion.Discografica">Discográfica</label><br />
                @Html.DropDownListFor(x => x.Edicion.DiscograficaID, Model.Discograficas, "Seleccione una discográfica", htmlAttributes: new { @id = "DiscograficaID", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Edicion.DiscograficaID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">
                    Guardar
                </button>
            </div>
            <div class="form-group col-md-12 text-right">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
        
    </div>
</div>



